<h1>タスクの新規登録</h1>
<p>タスクを登録してください</p>
<%= form_with model: @task, local: true do |form| %>
    <p>
        <%= form.label :title, 'タイトル' %><br>
        <%= form.text_field :title %>
    </p>

    <p>
        <%= form.label :description, '詳細' %><br>
        <%= form.text_area :description%>
    </p>

    <p>
        <%= form.submit '登録する' %>
    </p>

<% end %>

<p>
    <%= link_to '一覧に戻る' tasks_path %>
</p>
